{
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@apps/peek/(.*)$",
    "^@apps/peek-admin/(.*)$",
    "^@libs/constant(.*)$",
    "^@libs/database/entities(.*)$",
    "^@libs/database/repositories(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}